<li class="{{if model.isCompleted "completed"}} {{ if editMode "editing"}}">
  <div class="view">
    {{input type="checkbox"
        name="todoCheckBox"
        checked=model.isCompleted
        change=(action "toggleTodo")
        class="toggle"}}
    <label {{action "editTodo" on="doubleClick"}}>
      {{model.text}}
    </label>
    {{#unless editMode}}
      <button {{action "removeTodo"}} class="destroy"></button>
    {{/unless}}
  </div>
  {{input type="text"
    class="edit"
    key-up="cancelEdit"
    insert-newline="saveTodo"
    focus-out="saveTodo"
    value=model.text}}
</li>
