<li>
  <div class="checkbox">
    {{input type="checkbox"
        name="todoCheckBox"
        checked=model.isCompleted
        change=(action "toggleTodo")}}
    {{#if editMode}}
      {{input type="text" focus-out="saveTodo" value=model.text}}
    {{else}}
      <label>
        <span {{ action "editTodo" on="doubleClick" }} class="{{ if model.isCompleted 'strike-through' }}">
          {{ model.text }}
        </span>
      </label>
    {{/if}}
    <button {{ action "removeTodo" }} class="destroy">x</button>
  </div>
</li>
