{{add-todo onAdd=(action 'addTodo')}}

<ul class="list-unstyled">
  {{#each todos as |todo index|}}
  {{todo-item onToggle=(action 'toggleTodo')
    onRemove=(action 'removeTodo')
    onSave=(action 'saveTodo')
    model=todo
    index=index}}
  {{else}}
    Nothing to see here!
  {{/each}}
</ul>

{{#if todos.length}}
  {{pluralize incompleteCount 'item'}} left
{{/if}}

{{#if isCompleted}}
<div>
  <a href='' {{action 'clearCompleted'}}>Clear completed</a>
</div>
{{/if}}

<ul class="list-inline">
  <li>{{#link-to "todos"}}All{{/link-to}}</li>
  <li>{{#link-to "todos.active"}}Active{{/link-to}}</li>
  <li>{{#link-to "todos.completed"}}Completed{{/link-to}}</li>
</ul>
